.App {
    font-family: sans-serif;
    text-align: center;
  }
  .w-90 {
    width: 90%;
  }

  .Ui {
    font-family: sans-serif;
    text-align: center;
    position: relative;
    height: 100vh;
  }
  
  